name: Trigger Vercel Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  trigger-deploy:
    runs-on: ubuntu-latest
    if: github.actor != 'kgyujin'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Setup Git Config
        run: |
          git config --global user.name "kgyujin"
          git config --global user.email "k_gyujin@daum.net"

      - name: Push Empty Commit
        run: |
          git commit --allow-empty -m "Trigger Vercel Deploy [Auto]"
          git push origin main
