name: Trigger Vercel Deploy

on:
  push:
    branches:
      - main

jobs:
  trigger-deploy:
    runs-on: ubuntu-latest
    # 내가 푸시한 게 아닐 때만 실행 (무한 루프 방지)
    if: github.actor != 'kgyujin' 
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.MY_PAT }} # 내 토큰으로 체크아웃
          fetch-depth: 0

      - name: Setup Git Config
        run: |
          git config --global user.name "kgyujin"
          git config --global user.email "k_gyujin@daum.net"

      - name: Push Empty Commit
        run: |
          git commit --allow-empty -m "Trigger Vercel Deploy [Auto]"
          git push origin main